<meta charset="utf-8">
<title>MyEquipments</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="jmedina">
<meta name="author" content="jmedina">

<link rel="shortcut icon" href="/web/img/favicon.ico">
<script type="text/javascript" src="/web/js/bootstrap.js"></script>
<link rel="stylesheet" href="/web/css/bootstrap.css">
<link rel="stylesheet" href="/web/css/navbar.css">
<link rel="stylesheet" href="/web/css/signin.css">
<link rel="stylesheet" href="/web/css/project.css">
